.box{
	height: 400px;
	width: 800px;
	background-color: ;
	margin-top: 10px;
}
.box1{
	
	height: 400px;
	width: 800px;
	background-color: ;
	margin-top: 10px;
}
.box2{
	
	height: 400px;
	width: 800px;
	background-color: ;
	margin-top: 10px;
}
.box3{
	
	height: 400px;
	width: 800px;
	background-color: ;
	margin-top: 10px;
}
.lane{
	width: 300px;
	height: 100px;
	display: block;
}
.lane1{

	background-color: ;
	left: 0px;
	display: block;
}
.lane2{
	background-color: ;
	left: 0px;
	margin-top: 50px;
	display: block;
}
.lane3{
	background-color:;
	left: 0;
	display: block;
}
.lane4{
	background-color: dark;
	left: 0;
	display: block;
}
.name1{
	background-color: ;
	width: 400px;
	height: 100px;
}
.lanes{
	width: 300px;
	height: 100px;
	display: block;
}
.lanes1{

	background-color: ;
	left: 0px;
	display: block;
}
.lanes2{
	background-color: ;
	left: 0px;
	display: block;
}
.lanes3{
	background-color:;
	left: 0;
	display: block;
}
.lanes4{
	background-color: dark;
	left: 0;
	display: block;
}
.name1{
	background-color: ;
	width: 400px;
	height: 100px;
	margin-top: 50px;
}

.laness{
	width: 300px;
	height: 100px;
	display: block;
}
.laness1{

	background-color: ;
	left: 0px;
	display: block;
}
.laness2{
	background-color: ;
	left: 0px;
	display: block;
}
.laness3{
	background-color:;
	left: 0;
	display: block;
}
.laness4{
	background-color: dark;
	left: 0;
	display: block;
}
.name1{
	background-color: ;
	width: 400px;
	height: 100px;
	margin-top: 50px;
}
.lanesss{
	width: 300px;
	height: 100px;
	display: block;
}
.lanesss1{

	background-color: ;
	left: 0px;
	display: block;
}
.lanesss2{
	background-color: ;
	left: 0px;
	display: block;
}
.lanesss3{
	background-color:;
	left: 0;
	display: block;
}
.lanesss4{
	background-color: dark;
	left: 0;
	display: block;
}
.name1{
	background-color: ;
	width: 400px;
	height: 100px;
	margin-top: 50px;
}